# Bu dosyayı keystore.properties olarak kopyalayın ve değerleri doldurun
# NOT: keystore.properties dosyasını git'e COMMIT ETMEYİN!

RELEASE_STORE_FILE=../nelit-release.keystore
RELEASE_STORE_PASSWORD=your_keystore_password
RELEASE_KEY_ALIAS=nelit
RELEASE_KEY_PASSWORD=your_key_password
